<!DOCTYPE html> 
<html lang="en">

<head>
    <title>music gen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/img/swar.ico" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body style="background-image: url('../static/img/abstract1.jpg');">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary ">
        <a class="navbar-brand" href="#">Music Gen</a>
    </nav>

<div class="container bg-light" id="maincontainer" style="min-height: 100%;height: 100vh;">
    
<div class="loader" id="loader" style="display:none;"></div>

<div class="container" id="contentdiv">
    <center>

   <br /><br />
<h1>Music Gen</h1><br/>
<form method="post" enctype="multipart/form-data" action="/uploader" >
<div class="form-group row col-3 ">
<label for="genre"> select genre: </label> 
<select id="genre" name="genre" class="custom-select" >
    <option value="rock">Rock</option>
    <option value="pop">Pop</option>
  </select>
  
</div>
<div class="form-group row col-3 ">

  <label for="instrument"> select instrument: </label> 
  <select id="instrument" name="instrument" class="custom-select" >
      <option value="guitar">Guitar</option>
      <option value="piano">Piano</option>
      <option value="violin">Violin</option>
      <option value="drums">Drums</option>
    </select>
</div>
<div class="form-group row col-3 ">

    <label for="duration"> Duration: </label> 
    <select id="duration" name="duration" class="custom-select" >
        <option value="60">1 min</option>
        <option value="120">2 min</option>
        <option value="30">30 secs</option>
    </br ></br>
</div>


<input type="submit" class="btn btn-primary" value="submit"/>


</form>


</center>


</div>
</div>

</body>
</html>

<script>
    
    function incHeight() {
    var el = document.getElementById("maincontainer");
    var height = el.offsetHeight;
    var newHeight = height + 200;
    el.style.height = newHeight + 'px';
}

</script>